
<style>
    #login-buttons {
        margin-top: 20%;
    }
</style>

<section ng-controller="LoginController" class="body-sign">
    <div id="login-buttons" class="center">
        <a href="/" class="">
            <img src="/assets/img/logo.png" height="100" alt="Porto Admin" />
        </a>

        <h1 class="text-dark">Pandora admin panel</h1>

        <a class="btn btn-lg btn-block btn-gplus mb-md ml-xs mr-xs" ng-click="googleSignIn()">Sign in with Google</a>

        <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2014. All Rights Reserved.</p>
    </div>
</section>
