<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://api.pandora.com/" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
